container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_create_superuser:
    command: "source /opt/python/run/venv/bin/activate && python manage.py create_superuser"
    leader_only: true
  03_load_default_data:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata semantic_check_defaults"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  05_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fat.settings.base"
    "PYTHONPATH": "/opt/python/current/app/fat:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: fat/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": ".staticfiles/"
